---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Carousel from '../components/Carousel.astro';
import BrowserCard from '../components/BrowserCard.astro';
import CategorySection from '../components/CategorySection.astro';
import NewsletterPopup from '../components/NewsletterPopup.astro';
import NewsletterDialog from '../components/NewsletterDialog.astro';
import { getCollection } from 'astro:content';
import { API_URL } from '../consts';
import NewsletterSignup from '../components/NewsletterSignup.astro';

const posts = await getCollection('blog');
const sortedPosts = posts.sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const featuredPosts = sortedPosts.slice(0, 4);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div class="content-wrapper">
				<section class="featured-articles">
					<h2 class="home-page-header">Featured Articles</h2>
					<Carousel>
						{
							featuredPosts.map((post) => (
								<BrowserCard
									title={post.data.title}
									image={post.data.heroImage}
									url={`/blog/${post.slug}/`}
								/>
							))
						}
					</Carousel>
				</section>

				<div class="welcome-section">
					<h1 class="welcome-header">
						<span class="word word-2">ðŸŒ¸Welcome</span>
						<span class="word word-3">to</span>
						<span class="word word-4">Hannah's</span>
						<span class="word word-5">Hobby</span>
						<span class="word word-6">RoomðŸŒ¸</span>
					</h1>
					<div class="welcome-text">
						<p>
							Hi! I'm Hannah, and I'm thrilled to welcome you to my hobby blog. Here, I share what I've been working on and how I did it! There are six categories to choose from: <span class="hobby">gardening</span>, <span class="hobby">crafts</span>, <span class="hobby">coding</span>, <span class="hobby">books</span>, and <span class="hobby">antiquing</span>.
						</p>
						<p>
							I hope you learn something new or find a new hobby to explore.
						</p>
						<p>
							Thank you for stepping into my world, and I can't wait to share this room with you!
						</p>
						<p>
							Warm regards,
						</p>
						<img src="/signature.png" alt="Hannah's signature" class="signature" />
					</div>
				</div>

				<NewsletterSignup />

				<div class="categories">
					<CategorySection
						title="ðŸŽ¨ Crafts"
						description=""
						posts={sortedPosts.filter(post => post.data.category?.toLowerCase() === 'crafts').slice(0, 4)}
						category="crafts"
						/>

					<CategorySection
						title="ðŸŒ± Gardening"
						description=""
						posts={sortedPosts.filter(post => post.data.category?.toLowerCase() === 'gardening').slice(0, 4)}
						category="gardening"
					/>

					<CategorySection
						title="ðŸ’» Coding"
						description=""
						posts={sortedPosts.filter(post => post.data.category?.toLowerCase() === 'coding').slice(0, 4)}
						category="coding"
					/>

					<CategorySection
						title="ðŸ“š Books"
						description=""
						posts={sortedPosts.filter(post => post.data.category?.toLowerCase() === 'books').slice(0, 4)}
						category="books"
					/>

					<CategorySection
						title="ðŸº Antiquing"
						description=""
						posts={sortedPosts.filter(post => post.data.category?.toLowerCase() === 'antiquing').slice(0, 4)}
						category="antiquing"
					/>
				</div>
			</div>
		</main>
		<Footer />
		<NewsletterPopup />

		<style>
			.home-page-header {
				text-shadow: var(--text-shadow);
				color: white;
			}

			.content-wrapper {
				max-width: 1200px;
				margin: 0 auto;
				padding: 0 1rem;
			}

			.featured-articles {
				margin: 0 0 3em;
				text-align: center;
			}

			.featured-articles h2 {
				margin-bottom: 0.25em;
				text-align: center;
				margin-left: 0;
				text-shadow: 1px 1px 1px 1px black;
			}

			.welcome-section {
				text-align: center;
				max-width: 800px;
				margin: 0 auto;
				background: var(--primary-main);
				padding: 2em;
				border: 1px solid var(--primary-dark);
				border-radius: 12px;
				box-shadow: 8px 8px var(--primary-dark);
				color: white;
			}

			.welcome-header {
				color: white;
				display: flex;
				justify-content: center;
				gap: 0.5rem;
				flex-wrap: wrap;
				font-weight: bold;
				line-height: 1.1;
				margin: 0 0 1em 0;
			}

			.welcome-text {
				text-align: left;
				margin-top: 2em;
			}

			.word {
				display: inline-block;
				animation: colorRotate 6s linear infinite;
			}

			.word-1 { color: salmon; }
			.word-2 { color: #D0F0C0; }
			.word-3 { color: sandybrown; }
			.word-4 { color: khaki; }
			.word-5 { color: lightblue; }
			.word-6 { color: thistle; }
			.word-7 { color: salmon; }

			.word:nth-child(1) { animation-delay: 0s; }
			.word:nth-child(2) { animation-delay: 1s; }
			.word:nth-child(3) { animation-delay: 2s; }
			.word:nth-child(4) { animation-delay: 3s; }
			.word:nth-child(5) { animation-delay: 4s; }
			.word:nth-child(6) { animation-delay: 5s; }
			.word:nth-child(7) { animation-delay: 0s; }

			@keyframes colorRotate {
				0% { color: salmon; }
				16.66% { color: #D0F0C0; }
				33.33% { color: sandybrown; }
				50% { color: khaki; }
				66.66% { color: lightblue; }
				83.33% { color: thistle; }
				100% { color: salmon; }
			}

			.signature {
				width: 100px;
			}

			.hobby {
				color: var(--secondary-light);
				text-decoration: underline wavy var(--secondary-light);
				text-decoration-thickness: 1px;
				text-underline-offset: 4px;
			}

			.signup-button:hover {
				transform: translateY(-2px);
				background: var(--primary-dark);
			}

			.categories {
				margin-top: 4em;
				display: grid;
				gap: 3em;
			}
		</style>
	</body>
</html>